<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description>build to test automatic migration of junit result archiver.</description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers class="vector" />
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.plugins.utilitybuilders.TouchBuilder />
    </builders>
    <publishers>
        <hudson.tasks.junit.JUnitResultArchiver>
            <testResults>TESTING_JUNIT_FILE_MASK</testResults>
            <testDataPublishers/>
        </hudson.tasks.junit.JUnitResultArchiver>
    </publishers>
    <buildWrappers/>
</project>



