<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description>just_java_groups</description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers class="vector"/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.plugins.utilitybuilders.TouchBuilder />
    </builders>
    <publishers>
        <hudson.plugins.labeledgroupedtests.LabeledTestResultGroupPublisher>
            <configs>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*hudson*bugs*.xml</testResultFileMask>
                    <label>regression</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*diagnosis*.xml</testResultFileMask>
                    <label>unit</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*Extension*.xml</testResultFileMask>
                    <label>integration</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*hudson.l*.xml</testResultFileMask>
                    <label>smoke</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*TEST-hudson.m*.xml</testResultFileMask>
                    <label>smoke</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*hudson.node*.xml</testResultFileMask>
                    <label>unit</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*hudson.p*.xml</testResultFileMask>
                    <label>unit</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*hudson.P*.xml</testResultFileMask>
                    <label>unit</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*hudson.s*.xml</testResultFileMask>
                    <label>smoke</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*hudson.t*.xml</testResultFileMask>
                    <label>unit</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*hudson.u*.xml, *hudson.U*.xml</testResultFileMask>
                    <label>unit</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*lib*.xml</testResultFileMask>
                    <label>smoke</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                <hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
                    <parserClassName>hudson.tasks.junit.JUnitParser</parserClassName>
                    <testResultFileMask>*org.jvnet*.xml</testResultFileMask>
                    <label>integration</label>
                </hudson.plugins.labeledgroupedtests.LabeledTestGroupConfiguration>
            </configs>
        </hudson.plugins.labeledgroupedtests.LabeledTestResultGroupPublisher>
    </publishers>
    <buildWrappers/>
</project>

